@tailwind base;
@tailwind components;
@tailwind utilities;

    input[type="checkbox"]:hover {
      accent-color: brightness(1.5);
    }
    table {
      border-collapse: collapse;
    }
    .prevent-select {
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    li:not(:last-child) {
      padding-bottom: 15px;
    }
